.features__lead {
  font-size: 14px;
  line-height: calc(24 / 14);
}

.features__list {
//   display: flex;
//   flex-wrap: wrap;

> .features__item:not(:last-child) {
  margin-bottom: 30px;
}

//   > .features__item {
//     max-width: calc((100% - 90px) / 4);
//   }

//   > .features__item:not(:nth-child(4n + 4)) {
//     margin-right: 30px;
//   }    
}
.features__box {
  display: flex;
  margin-bottom: 30px;
  max-width: 450px;
  // width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: $secondaryBgGrey;

  > .features__icon {
    width: 70px;
    height: 70px;
  }
}
