.section__title {
  color: $titleTextColor;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  margin-bottom: 50px;
}

// .title {
//   margin-bottom: 10px;
// }

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: $titleTextColor;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  color: $titleTextColor;
}

.cases__title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-bottom: 10px;
  color: $titleTextColor;
}
