body {
  background-color: $primaryWhite;
  color: $primaryTextColor;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.main{
  margin-top: 80px;
}

.nav {
  display: flex;
}
.section-title,
.title { 
  color: $titleTextColor;
}