// :root {   
//     --primary-text-color: #757575;    
//     --title-text-color: #212121;    
//     --accent-color: #2196f3;    
//     --primary-white-color: #ffffff;    
//     --secondary-bg-grey: #f5f4fa;    
//     --footer-bg-color: #2f303a;    
//     --icon-color: #afb1b8;    
//     --transit-dur: 250ms;
//     --transit-time-funct: cubic-bezier(0.4, 0, 0.2, 1);  
//   }

$primaryTextColor: #757575;
$titleTextColor: #212121;    
$accentColor: #2196f3;    
$primaryWhite: #fff;    
$secondaryBgGrey: #f5f4fa;    
$footerBgColor: #2f303a;    
$iconColor: #afb1b8;    
$transitDur: 250ms;
$transitTimeFunct: cubic-bezier(0.4, 0, 0.2, 1);